<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
    <h1>Play Hangman!</h1>
    {%if hangman is empty%}
    <form action="/start" method="post">
        <label for="word">Choose a word</label>
        <input type="text" name="word" id="word">
        <button type="submit">Start</button>
    </form>
    {%endif%}
    {%if hangman is not empty%}
    {%if not hangman.gameOver%}
    <form action="/guess" method="post">
        <label for="guess">Guess a letter</label>
        <input type="text" name="guess" id="guess" maxlength="1">
        <button type="submit">Guess!</button>
        {%if hangman.checkGuess%}
            <h2>You already chose this letter, pick another</h2>
        {%endif%}
    </form>
    {%endif%}
    <img src=images/hm{{hangman.getIncorrectCounter}}.jpg>
    <h2>{{hangman.getBlanks}}</h2>
    <h2>{{hangman.getIncorrectCounter}}/6 incorrect guesses</h2>
    <h4>Correct guesses</h4>
    <p>{%if correct_guesses is not empty%}
        {{correct_guesses}}
        {%endif%}</p>
    <h4>Incorrect guesses</h4>
    <p>{%if incorrect_guesses is not empty%}
        {{incorrect_guesses}}
        {%endif%}</p>
        <h1 style="font-size:70px; text-align:center; color:red;">{%if hangman.hasLost%}
            YOU'RE A LOSER AND NO ONE LIKES YOU. YOU DESERVE THIS!
            {%endif%}</h1>
        <h1 style="font-size:70px; text-align:center; color:green;">{%if hangman.hasWon%}
            YOU ARE VICTORIOUS AND EVERYONE THINKS YOU'RE COOL!
            {%endif%}</h1>
        <a href="/">Restart</a>
            {%endif%}
    </body>
</html>
